@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-fundo-sobrenos: #DFEFE9;
    --cor-letra-sobrenos: #096E44;
    --cor-primaria: #16C27C;
    --cor-preta: #2F2E2E;
    --cor-branca: #FFFFFF;
    --cor-rodape: #A89B9B;
    --fonte-letras: 'Inter', sans-serif;
}

#cabecalho{
    background-color: var(--cor-primaria);
}

#cabecalhoD{
    display: none;
}

#cabecalhoM{
    display: block;
}

.navbar-toggler {
    background: none; 
    border: none;   
}

#navbarNav{
    margin: auto 20px;
}

.navbar-nav{
    justify-content: space-between;
    flex-direction: row;
}

.nav-item{
    text-align: center;
    justify-items: center;
}

.nav-link{
    text-align: -webkit-center;
} 

.nav-link span{
    font-size: 12px;
    color: var(--cor-branca);
    font-family: var(--fonte-letras);
    font-weight: 500;
}

.div-btn{
    background-color: var(--cor-preta);
    height: 100%;
}

.btn-carrossel{
    width: 43%;
    height: 100%;
    border: none;
    background: var(--cor-preta);
    position: absolute;
    z-index: 10;
}

.titulo-material{
    margin: 0px auto 0px auto;
    font-size: 14px;
    width: 123px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    text-align: center;
    font-family: var(--fonte-letras);
    font-weight: 500;
    
}


.img-btn{
    height: 90%;
    width: 90%;
    margin-left: 5%;
}

.imgDrop{
    display: block;
}

.linha, .linha2{
    border: 3px solid var(--cor-primaria);
    margin: 5px 0px;
}

.linha2{
    margin: 5px 0px 10px 0px;
}

.titulo-secao, .bntInicio { 
    margin: 15px auto 10px auto;
    width: 171px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    text-align: center;
    font-family: var(--fonte-letras);
    font-weight: 500;
}


#sobreNosDiv{
    background-color: var(--cor-fundo-sobrenos);
    border-radius: 10px;
    width: 82.5%;
    height: 10%;
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 15px 10px 5px 10px;

}

.texto-sobre{
    margin-bottom: 10px;
    color: var(--cor-letra-sobrenos);
    font-size: 10px;
    font-family: var(--fonte-letras);
    font-weight: 600;
}

.swiper-pagination{
    position: initial;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-slide img{
    width: 98%;
    height: 98%;
    object-fit: cover;
    
}

.swiper-slide{
 
}

.swiper-wrapper {
    touch-action: pan-y;
}

#logo-desk{
    display: none;
}

#inicio {
    background: url(./img/backgrondMobal.svg) no-repeat center center;
    background-size: cover; 
    width: auto;
    height: 340px;
}


.centralizar{
    text-align: center;
    align-items: center;
}

#seta{
    margin-left: 3px;
    vertical-align: inherit;
}

.logo{
    margin-top: 40px;
}

.bntInicio{
    display: block;
}


#materiais{
    margin: 30px 0px;
    
}

.materiais{
    padding: 10px;
    margin: 15px 0px;
    background-color: var(--cor-preta);
}



@media (min-width: 834px){
    .navbar-nav {
        justify-content: space-around;
    }

#inicio {
    background: url(./img/backgrondTablett.svg) no-repeat center center;
    background-size: cover; 
    width: auto;
    height: 813px;
}

#logo-mobal{
    display: none;
}

#logo-desk{
    display: block;
}

.centralizar{
    margin: 20% auto auto 40%;
    position: absolute;
}

.bntInicio {
    font-size: 27px;
    width: 254px;
}

#seta{
    height: 20px;
}

.titulo-secao{
    font-size: 32px;
    width: 317px;
}

.texto-sobre{
    font-size: 24px;
}

.swiper-button-prev, .swiper-button-next {
    display: block;
    color: var(--cor-primaria);
    margin: auto 5px;
}

.titulo-material{
    width: 224px;
    font-size: 24px;
}

.linha, .linha2{
    border: 5px solid var(--cor-primaria);
}


}

@media (min-width: 992px){

#cabecalho{
    background-color: var(--cor-branca);
    }

.navbar{
    flex-wrap: nowrap;
}

    #cabecalhoD{
        display: block;
    }
    
    #cabecalhoM{
        display: none;
    }

    .imgDrop{
        display: none;
    }

    .nav-link span{
        color: var(--cor-primaria);
        font-size: 20px
    }

    .centralizar{
        margin: 10% auto auto 40%;
    }


}

@media (min-width: 1336px){
.navbar{
    margin: auto 15%;
}

#inicio {
    background: url(./img/backgrondDesktop2.svg) no-repeat  left top;
    height: 730px;
}

.centralizar{
    margin: 5% auto auto 65%;
}

.linha2{
    margin: 0px;
}

}

